<%= form_for [@project, @note] do |f| %>

  <div class="form-inputs">
    <%= f.label :id %>
    <%= f.text_field :id %>
  </div>
  <div class="form-inputs">
    <%= f.label :note %>
    <%= f.text_field :note %>
  </div>
  <%= f.fields_for :coordinates do |builder| %>
    <div class="form-inputs">
      <%= builder.label :blueprint_id, "Blueprint" %>
      <%= builder.text_field :blueprint_id %>
    </div>
  <% end %>
  <div class="form-actions">
    <%= f.submit :submit %>
  </div>
<% end %>
