<%= form_for [@project, @note] do |f| %>


  <div class="form-inputs">
    <%= f.label 'Note Description' %>
    <%= f.text_field :note %>
  </div>
  <div class="form-inputs">
    <%= f.label :note_text %>
    <%= f.text_area :note_text %>
  </div>
  <div class="form-inputs">
    <%= f.label 'Tags' %>
    <%= f.text_field :tag_list %>
  </div>
  <%= f.fields_for :coordinates do |builder| %>
    <div class="form-inputs">
      <%= builder.label :blueprint_id, "Blueprint Association" %>
      <%= builder.collection_select :blueprint_id, @project.blueprints, :id, :title, {:include_blank => 'None', :selected => @blueprint_id } %>
    </div>
  <% end %>
	<%= f.hidden_field :user_id, value: current_user.id %>
  <div class="form-actions">
    <%= f.submit :submit %>
  </div>
<% end %>
