<%= form_for [@project, @note] do |f| %>


  <div class="form-inputs">
    <%= f.label :note %>
    <%= f.text_field :note %>
  </div>
  <%= f.fields_for :coordinates do |builder| %>
    <div class="form-inputs">
      <%= builder.label :blueprint_id, "Blueprint Association" %>
      <%= builder.collection_select :blueprint_id, @project.blueprints, :id, :id, {:include_blank => 'None', :selected => params[:blueprint_id]} %>
    </div>
  <% end %>
  <div class="form-actions">
    <%= f.submit :submit %>
  </div>
<% end %>
