<h1>Listing notes</h1>

<ul id="notes" data-update-url="<%= sort_project_notes_url %>">
	<% @notes.each do |note| %>
    <%= content_tag_for :li, note do %>
			<span class="handle">[sort]</span>
			<%= note.note %>
			<% note.coordinates.each do |c| %><%= c.blueprint_id %><% end %>
			<%= link_to 'Show', [@project, note] %>
		<% end %>
	<% end %> 
</ul>


<br />

<%= link_to 'New Note', new_project_note_path %>
