<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @note.id %>
</p>

<p>
  <b>Note:</b>
  <%= @note.note %>
</p>


<%= link_to 'Edit', edit_project_note_path(@project, @note) %> |
<%= link_to 'Back', project_notes_path(@project) %>
