<div class="row-fluid">
	<div class="span8">
		<p id="notice"><%= notice %></p>
		<h4>Click to edit</h4>
		<p>
			<b>Tags:</b>
			<%= best_in_place [@project, @note], :tag_list %>
		</p>

		<p>
			<b>Note:</b>
			<%= best_in_place [@project, @note], :note %>
		</p>

		<p>
			<b>Note Text:</b>
			<%= best_in_place [@project, @note], :note_text %>
		</p>
		<p>
			<b>Author:</b>
			<%= @note.user_id %>
		</p>

		<%= link_to 'Back', project_path(@project), class: 'btn btn-small' %>
	</div>
	<div class="span4">
		<%= render 'show-sidebar' %>
	</div>
</div>
