<div class="row-fluid">
	<div class="span8">
		<p id="notice"><%= notice %></p>

		<p>
			<b>Tags:</b>
			<%= raw @note.tag_list.map { |t| link_to t, tag_path(t, project_id: @project.id) }.join(', ') %>
		</p>

		<p>
			<b>Note:</b>
			<%= @note.note %>
		</p>

		<p>
			<b>Note Text:</b>
			<%= @note.note_text %>
		</p>

		<%= link_to 'Edit', edit_project_note_path(@project, @note) %> |
		<%= link_to 'Back', project_path(@project) %>
	</div>
	<div class="span4">
		<%= render 'show-sidebar' %>
	</div>
</div>
