<%= form_for [@project, @blueprint] do |f| %>

	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
		<br>
		<%= f.label :tag_list, "Tags (separated by commas)" %>
		<%= f.text_field :tag_list %>
		<br>
		<%= f.hidden_field :author, value: current_user.name %>
    <%= f.file_field :bpu %>
	</p>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
