<%= form_for [@project, @blueprint] do |f| %>

	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>


  <p>

    <%= f.file_field :bpu %>
  </p>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
