<%= simple_form_for [@project, @blueprint] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <!-- Autofilled  <%= f.input :id %> -->
    <%= f.input :loc %>
  <!-- Auto filled  <%= f.input :project_id %>  -->
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
