<div class="row-fluid">
	<div class="span8">
		<h1>Listing blueprints</h1>

		<table>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>bpu</th>
				<th></th>
				<th></th>
			</tr>

		<% @blueprints.each do |blueprint| %>
			<tr>
				<td><%= blueprint.id %></td>
				<td><%= blueprint.bpu %></td>
				<td><%= link_to 'Show', [@project, blueprint] %></td>
				<td><%= link_to 'Edit', edit_project_blueprint_path(@project, blueprint) %></td>
				<td><%= link_to 'Destroy', [@project, blueprint], method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
		</table>

		<br>

		<%= link_to 'New Blueprint', new_project_blueprint_path %>
	</div>
	<div class="span4">
		<%= render 'index-sidebar' %>
	</div>
</div>
