<div class="row-fluid">
	<div class="span8">
		<h1>Blueprints tagged <i><%= params[:tag] %></i></h1>


		<% @blueprints.each do |blueprint| %>
			<table class="table table-hover">
				<tr>
					<th><strong><%= blueprint.title %></strong><%= link_to 'Show', [@project, blueprint], :class => 'btn btn-mini' %><%= link_to 'Edit', edit_project_blueprint_path(@project, blueprint), :class => 'btn btn-mini' %></th>
				</tr>
			</table>
		<% end %>



	</div>
	<div class="span4">
		<%= render 'index-sidebar' %>
	</div>
</div>
