<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @blueprint.id %>
</p>

<p>
  <b>Loc:</b>
  <%= @blueprint.loc %>
</p>

<p>
  <b>Belongs to project:</b>
  <%= @blueprint.project_id %>
</p>



<%= link_to 'Edit', edit_project_blueprint_path(@blueprint) %> |
<%= link_to 'Back', project_blueprints_path %>
