<div class="row-fluid">
	<div class="span8">
		<table class="table table-hover table-bordered">
			<tbody>
				<tr>
					<td>
						<% if File.extname(@blueprint.bpu.to_s) == '.pdf' %>
							<%= link_to 'Open PDF', @blueprint.bpu.to_s, class: 'btn btn-success' %>
						<% else %>
							<%= image_tag @blueprint.bpu %>
						<% end %>
					</td>
				</tr>
			</tbody>
		</table>


		<strong>Notes:</strong><%= link_to 'Add Note', new_project_note_path(@project, :blueprint_id => @blueprint.id), :class => 'btn' %>
		<ul id="notes" data-update-url="<%= sort_project_notes_url %>">
			<% @notes.each do |note| %>
				<%= content_tag_for :li, note do %>
					<span class="handle">[sort]</span>
					<strong><%= best_in_place [@project, note], :note %></strong> <br>
					<%= best_in_place [@project, note], :note_text %>
				<% end %>
			<% end %> 
		</ul>



		<%= link_to 'Edit', edit_project_blueprint_path(@project, @blueprint), :class => 'btn btn-mini' %> |
		<%= link_to 'Back', project_blueprints_path, :class => 'btn btn-mini' %>
	</div>
	<div class="span4">
		<%= render 'show-sidebar' %>
	</div>
</div>
