<%= simple_form_for([@project, @participant]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :project_id %>
    <%= f.collection_select :user_id, User.order(:name), :id, :name, include_blank: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
