<h1>Listing participants</h1>

<table>
  <tr>
    <th>Project</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @participants.each do |participant| %>
  <tr>
    <td><%= participant.project_id %></td>
    <td><%= participant.user_id %></td>
    <td><%= link_to 'Show', [@project, participant] %></td>
    <td><%= link_to 'Edit', edit_project_participant_path(@project, participant) %></td>
    <td><%= link_to 'Destroy', [@project, participant], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Participant', new_project_participant_path %>
