<div class="row-fluid">
	<div class="span8">
		<p id="notice"><%= notice %></p>

		<p>
			<b>Name:</b>
			<%= @group.name %><%= link_to 'Edit', edit_group_path(@group), :class => 'btn btn-mini' %>
		</p>
		
		<table class="table table-bordered">
			<thead>
				<tr>
					<td>
						<strong>Group Members</strong><a href="#newMember" role="button" class="btn" data-toggle="modal">Add Member</a>
					</td>
				</tr>
			</thead>
			<tbody>
				<% @group.users.each do |user| %>
					<tr>
						<td><%= link_to user.name, user_path(user.id) %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>


	<div class="span4">
		<h3>Groups</h3>
		<ul>
			<li>Primarilly organize users for functional purposes.</li>
			<li><strong>Firms</strong> can use groups to easily associate employees with projects.</li>
			<li>Groups are agile and can be used however end user finds most useful.</li>
		</ul>
	</div>
</div>

<!-- Note Modal -->
<div id="newMember" class="modal hide fade alert alert-info well" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="background-color:#cccccc;">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Add Member</h3>
	</div>
	<div class="modal-body" style="max-height:450px;">
		<%= render 'members/form' %>
	</div>
</div>
