<div class="row-fluid">
	<div class="span8">
		<% if current_user.id == @user.id %>
			<% @user.cities.each do |c| %>
				<div class="alert alert-info">
					<h1>Designated Reviewer at: <%= link_to c.name, city_path(c) %></h1>
					<p><span class="lead">Click your city to see more options.</span></p>
				</div>
			<% end %>
			<table class="table table-bordered">
				  <tr>
				    <td><h1>My Projects<%= link_to 'New Project', new_project_path, :class => 'btn btn-primary pull-right' %></h1></td>
				  </tr>
					<tr>
						<td>
							<ul>
								<% @user.projects.each do |p| %>
									<li><%= link_to p.name, project_path(p), class: 'lead' %></li>
								<% end %>						
						</td>			  
					</tr>
			</table>
		<% else %>
			(Work in progress.) Request this user to join your group.
		<% end %>
	</div>

<!-- In sidebar partial -->
  <div class="span4">
		<div class="well">
			<h3><%= @user.name %></h3>
		  <%= render "sidebar" %>
		</div>
  </div>

</div>
