<div class="row-fluid">
	<div class="span8">
		<% if current_user.id == @user.id %>
			<% @user.cities.each do |c| %>
				<div class="alert alert-info">
					<h1>Designated Reviewer at: <%= link_to c.name, city_path(c) %></h1>
					<p><span class="lead">Click your city to see more options.</span></p>
				</div>
			<% end %>
			<table class="table table-bordered">
				  <tr>
				    <td><h1>My Halo<a href="#newProject" role="button" class="btn btn-primary pull-right" data-toggle="modal">Create Project</a></h1></td>
				  </tr>
					<tr>
						<td>
							<ul>
								<% @user.projects.each do |p| %>
									<li><%= link_to p.name, project_path(p), class: 'lead' %></li>
								<% end %>						
						</td>			  
					</tr>
			</table>
		<% else %>
			(Work in progress.) Request this user to join your group.
		<% end %>
	</div>

<!-- In sidebar partial -->
  <div class="span4">
	  <%= render "sidebar" %>
  </div>
</div>
<% if current_user.id == @user.id %>
	<!-- New Project Modal -->
	<div id="newProject" class="modal hide fade alert alert-info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="background-color:#cccccc;">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Create Project</h3>
		</div>
		<div class="modal-body" style="max-height:450px;">
			<%= render 'projects/form' %>
		</div>
	</div>

	<!-- View Account Modal -->
	<div id="viewUser" class="modal hide fade alert alert-info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="background-color:#cccccc;">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">@user.name</h3>
		</div>
		<div class="modal-body" style="max-height:450px;">
			<span>
				<%= @user.id %>
				<%= @user.name %>
				<%= @user.email %>
				<%= link_to 'Edit Account', edit_user_registration_path, class: 'btn' %>
			</span>
		</div>
	</div>
<% end %>
