<div class="well well-small">
	<h4>Contents</h4>
	<ol id="project-content-nav" data-update-url="<%= sort_project_blueprints_url(@project) %>">
		<% @blueprints.each do |b| %>
			<%= content_tag_for :li, b do %><a href="#blueprint-table-<%= b.id %>"><%= b.title %></a>
				<ul>
					<% b.notes.each do |n| %>
						<% if n.note? %>
							<li><a href="#note-table-<%= n.id %>"><%= n.note %></a></li>
						<% end %>
					<% end %>
				</ul>
			<% end %>
		<% end %>
	</ol>
</div>
<div class="well">
	<h3>Blueprint Tags</h3>
	<div id="tag_cloud">
		<% tag_cloud Blueprint.tag_counts, %w[s m l] do |b, css_class| %>
			<%= link_to b.name, blueprint_path(b.name, project_id: @project.id), class: css_class %>
		<% end %>
	</div>
</div>
