<%= form_for @project do |f| %>

  <div class="form-inputs">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.fields_for :participants do |builder| %>
    <div class="form-inputs">
      <%= builder.hidden_field :user_id, value: current_user.name %>
    </div>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
