<div id="participant-list">
	<strong>Participants:</strong>
	<%= link_to 'Add Participant', new_project_participant_path(@project), class: 'btn btn-small' %>
  <ol>
		<% @project.users.each do |user| %>
			<li><%= link_to user.name, user_path(user.id) %></li>
		<% end %>
	</ol>
</div>

<h4>Project Page (PARTICIPANT)</h4>
<ul>
	<li>This page acts as a hub for all aspects of a project.</li>
  <li>Any user participating in a project is capable of using this page</li>
	<li><strong>Add Drawing</strong> capability. Uploads digital blueprint to project.</li>
  <li><strong>Add Note</strong> capability. Project or blueprint specific.</li>
	<li>Click the note tags to add or edit them. <strong>In-place-editing</strong></li>
</ul>

<%= link_to 'Review Material', project_blueprints_path(@project), :class => 'btn' %>


<h3>Note Tags</h3>
<div id="tag_cloud">
	<% tag_cloud Note.tag_counts, %w[s m l] do |n, css_class| %>
	  <%= link_to n.name, note_path(n.name, project_id: @project.id), class: css_class %>
	<% end %>
</div>

<h3>Blueprint Tags</h3>
<div id="tag_cloud">
	<% tag_cloud Blueprint.tag_counts, %w[s m l] do |b, css_class| %>
	  <%= link_to b.name, blueprint_path(b.name, project_id: @project.id), class: css_class %>
	<% end %>
</div>
