<div class="span8">
	<p><h3><%= best_in_place @project, :name %><sub><span class="label">Click to edit</span></sub></h3></p>

	<div class="btn-group pull-right">
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		  Contribute
		  <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
		  <li>
				<%= link_to 'Add Note', new_project_note_path(@project) %>
			</li>
			<li>
				<%= link_to 'Upload Blueprint', new_project_blueprint_path(@project) %>
			</li>
		</ul>
	</div>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Blueprint</th>
			</tr>
			<tr>
				<th>Note</th>
			</tr>
		</thead>
		<tbody>
			<% @project.blueprints.each do |blueprint| %>
				<tr>
				  <td>
						<ul>
							<li><h6><%= link_to blueprint.title, [@project, blueprint] %></h6></li>
							<li><%= best_in_place [@project, blueprint], :tag_list, nil: 'Click to add a tag.' %></li>
							<li><%= link_to 'Overview', project_blueprint_path(@project, blueprint.id), class: 'btn' %><a href="#myModal-<%= blueprint.id %>" role="button" class="btn" data-toggle="modal">Preview</a></li>
						</ul>
					</td>
				</tr>
				<tr>
			    <td>
						<% blueprint.notes.each do |note| %>
							<ul>
								<li><%= truncate note.note, :length => 60 %></li>
								<li><%= best_in_place [@project, note], :tag_list, nil: 'Click to add a tag.' %></li>
								<li><%= link_to 'Open', [@project, note], class: 'btn' %></li>
							</ul>
						<% end %>
					</td>
				</tr>

<!-- Hidden Modal -->
				<div id="myModal-<%= blueprint.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		        <h3 id="myModalLabel"><%= blueprint.id %></h3>
		      </div>
		      <div class="modal-body">
		        <img src="<%= blueprint.bpu %>" />
		      </div>
		      <div class="modal-footer">
		        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		      </div>
		    </div>
<!-- End Hidden Modal -->

			<% end %>
		</tbody>
	</table>





	<%= link_to 'Back', projects_path, class: 'btn btn-small' %>
</div>	
<div class="span4">
	<%= render 'participant-sidebar' %>

	<h3>Note Tags</h3>
	<div id="tag_cloud">
		<% tag_cloud Note.tag_counts, %w[s m l] do |tag, css_class| %>
		  <%= link_to tag.name, tag_path(tag.name, project_id: @project.id), class: css_class %>
		<% end %>
	</div>
</div>
