<h4>Sealed: <%= @project.sealed %></h4>
<p>This is what reviewers of the project will see.</p>
<div>
	<ol>
		<% @project.blueprints.each do |blueprint| %>
			<%= content_tag_for :li, blueprint do %>
				<h4><%= link_to 'Open', blueprint.bpu.to_s, class: 'btn btn-primary btn-mini' %> <%= blueprint.title %></h4>
				<p><span class=""> <%= blueprint.tag_list %></span></p>
				<ul class="unstyled">
					<% blueprint.notes.each do |note| %>
						<li><p><strong><%= note.note %></strong></p></li>
						<li><p><%= note.note_text %></p></li>
					<% end %>
				</ul>
			<% end %>
		<% end %>
	</ol>
</div>






