<div class="row">
  <div class="span8">
		<p id="notice"><%= notice %></p>	
			
		<h3><%= @project.name %><%= link_to 'Edit', edit_project_path(@project), :class => 'btn btn-mini' %></h3>
		<p>Municipality: <% if @project.city %><%= @project.city.user_ckey %><% else %><%= link_to 'Add City', new_city_path %><% end %></p>


		<!-- Begin visible to project participants only, NEEDS request to participate in ELSE -->
		<% if current_user.is_participant?(@project.id) %>
			
			<%= render 'participant' %>

		<% end %> <!-- End project participant only -->
  </div>

	<div class="span4">
		<%= render 'sidebar' %>
	</div>
</div>
