<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @project.id %>
</p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<ol>
  <strong>Participants:</strong>
  <% @project.users.each do |user| %>
    <li><%= user.name %></li>
  <% end %>
</ol>

<table class="table table-hover table-bordered">
  <thead>
    <tr><td><strong>Blueprints</strong></td></tr>
  </thead>
  <tbody>
    <% @project.blueprints.each do |blueprint| %>
      <tr>
        <td><%= link_to blueprint.id, [@project, blueprint] %></td>
	<td><%= link_to 'Open', blueprint.loc, :class => 'btn' %></td>
        <td><a href="#myModal-<%= blueprint.id %>" role="button" class="btn" data-toggle="modal">Preview</a></td>
      <tr>
      <div id="myModal-<%= blueprint.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel"><%= blueprint.id %></h3>
        </div>
        <div class="modal-body">
          <img src="<%= blueprint.loc %>" />
        </div>
        <div class="modal-footer">
           <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>
    <% end %>
  </tbody>
</table>

<table class="table table-hover table-bordered">
  <thead>
    <tr><td><strong>Notes</strong></td></tr>
  </thead>
  <tbody>
    <% @project.notes.each do |note| %>
      <tr>
        <td><%= note.note %></td>
	<td><%= link_to 'Open', [@project, note], :class => 'btn' %></td>
      <tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>


