<h1>Listing seals</h1>

<table>
  <tr>
    <th>Project</th>
    <th>City</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @seals.each do |seal| %>
  <tr>
    <td><%= seal.project_id %></td>
    <td><%= seal.city_id %></td>
    <td><%= link_to 'Show', [@city, seal] %></td>
    <td><%= link_to 'Edit', edit_city_seal_path(@city, seal) %></td>
    <td><%= link_to 'Destroy', [@city, seal], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Seal', new_city_seal_path %>
