<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @seal.project_id %>
</p>

<p>
  <b>City:</b>
  <%= @seal.city_id %>
</p>

<%= link_to 'Open Project', project_path(@seal.project_id), :class => 'btn' %><br>

<%= link_to 'Edit', edit_city_seal_path(@city,@seal) %> |
<%= link_to 'Back', city_seals_path %>
