<div class="row-fluid">
	<div class="span8">
		<h1>Listing cities</h1>

		<table class="table table-bordered">
			<tr>
				<th>City</th>
				<th>Seals Count</th>
				<% if can? :manage, @city %>
					<th>Admin Actions</th>
				<% end %>
			</tr>

		<% @cities.each do |city| %>
			<tr>
				<td><%= link_to city.name, city_path(city.id) %></td>
				<td><%= city.seals.count %></td>
				<% if can? :manage, @city %>
					<td>
					<%= link_to 'Show', city, :class => 'btn btn-mini' %>
					<%= link_to 'Edit', edit_city_path(city), :class => 'btn btn-mini' %>
					<%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini' %>
					</td>
				<% end %>
			</tr>
		<% end %>
		</table>

		<% if current_user.has_role? :admin %>
			<a href="#newCity" role="button" class="btn btn-mini btn-primary" data-toggle="modal">New City</a>
		<% end %>
	</div>


	<div class="span4">
		<h3>City Directory</h3>
		<ul>
			<li>This page displays a directory of cities to the user.</li>
			<li>Content focus will be on the cities most relevant to the user.</li>
			<li>This page can feature announcements from the relevant cities.</li>
			<li>We have the option to pre populate city information.</li>
		</ul>
	</div>
</div>

<!-- New City Modal -->
<div id="newCity" class="modal hide fade alert alert-info well" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="background-color:#cccccc;">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Create City</h3>
	</div>
	<div class="modal-body" style="max-height:450px;">
		<div ng-controller="CityCtrl">
			<form ng-submit="addCity()">
				<input type="text" ng-model="newCity.name"><br>
				<input type="submit" value="Add {{newCity.name}}" class="btn btn-primary">
			</form>
			<ul class="unstyled">
				<li ng-repeat="city in cities">
					{{city.name}}
				</li>
			</ul>
		</div>
	</div>
</div>

