<div class="row-fluid">
	<div class="span8">
		<!--<h1>Listing cities</h1>

		<table class="table table-bordered">
			<tr>
				<th>City</th>
				<% if can? :manage, @city %>
					<th>Admin Actions</th>
				<% end %>
			</tr>

		<% @cities.each do |city| %>
			<tr>
				<td>
					<%= city.name %>
				</td>
				<% if can? :manage, @city %>
					<td>
					<%= link_to 'Show', city, :class => 'btn btn-mini' %>
					<%= link_to 'Edit', edit_city_path(city), :class => 'btn btn-mini' %>
					<%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini' %>
					</td>
				<% end %>
			</tr>
		<% end %>
		</table>-->

		<% if current_user.has_role? :admin %>
			<%= link_to 'New City', new_city_path, :class => 'btn btn-mini' %>
		<% end %>
	</div>


	<div class="span4">
		<h3>City Directory</h3>
		<ul>
			<li>This page displays a directory of cities to the user.</li>
			<li>Content focus will be on the cities most relevant to the user.</li>
			<li>This page can feature announcements from the relevant cities.</li>
			<li>We have the option to pre populate city information.</li>
		</ul>
	</div>
</div>

