<div class="row-fluid">
	<div class="span8">
		<h2><%= @city.name %></h2>
		<p>
			<b>Reviewers:</b>
			<ul>
				<% @city.users.each do |user| %>
					<li><%= user.name %></li>
				<% end %>
			</ul>
		</p>

		<!-- Begin Reviewer only project table -->
		<% if current_user.is_reviewer_of_city?(@city.id) %>
			<table class="table table-bordered">
				<thead>
					<tr>
						<td><strong>Submitted Projects</strong></td>
						<td><strong>Submitted Date</strong></td>
					</tr>
				</thead>
				<tbody>
					<% @city.projects.each do |p| %>
					<tr>
						<td><%= link_to p.name, project_path(p.id) %></td>
						<td><%= p.created_at %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		<% else %>
			*Displays to non city accounts*
			<%= link_to 'Seal and Submit to this City', new_city_seal_path(@city), :class => 'btn btn-block btn-large btn-success' %>
		<% end %>
	</div>

	<div class="span4">
		<div class="well">
			<%= link_to 'Seal and Submit to this City', new_city_seal_path(@city), :class => 'btn btn-block btn-primary' %>
			<h3>City Page</h3>
			<ul>		
				<li>First city reviewer verified and added internally by A&E Halo.</li>
				<li>City reviewers have the ability to add more users.</li>
				<li>Users can begin submission to city from this page.</li>
				<li>Cities can browse submitted projects from this page.</li>
			</ul>
		</div>
	</div>
</div>
