<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Aehalo" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Aehalo" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
		        <%= render 'layouts/messages' %>
		        <%= yield %>
          <footer>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<p class='pull-right'>&copy; A&E Halo 2012</p>
						<nav class='pull-left'>
							<a class='pull-left' href='http://aehalo.com'>| A&E Halo |</a>
							<a class='pull-left' href='http://aehalo.com/?page_id=48'>| Contact |</a>
							<a class='pull-left' href='http://www.linkedin.com/company/a&e-halo'>| LinkedIn |</a>
							<a class='pull-left' href='http://twitter.com/aehalo'>| Twitter |</a>
							<a class='pull-left' href='http://angel.co'>| Angel List |</a>
						</nav>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
