<!DOCTYPE html>
<html ng-app="aehalo">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Aehalo" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Aehalo" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <style>
			#loginModal {
				color: #ffffff;
				background-color: #AAAAAA;
			}
			#loginModal a {
				color: #333333;
			}
			#loginModal h3 {
				color: #000000;
			}
			#loginModal div.email_input {
				float: left;
				width: 50%;
			}
			#loginModal div.password_input {
				float: right;
				width: 50%;
			}
			#loginModal div.login_extras {
				float: left;
				width: 50%;
			}
			#loginModal div.login_submit {
				float: right;
				width: 50%;
			}
    </style>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
		        <%= render 'layouts/messages' %>
		        <%= yield %>
		        <% unless user_signed_in? %>
							<!-- Login Modal -->
							<div id="loginModal" class="modal hide fade alert alert-info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img src="/images/key.png" ></button>
									<h3 id="myModalLabel">Log Into A&E Halo</h3>
								</div>
								<div class="modal-body" style="max-height:450px;">
									<%= render 'devise/sessions/new-modal', locals: {resource: resource} %>
								</div>
							</div>
						<% end %>
          <footer>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<p class='pull-right'>&copy; A&E Halo 2013</p>
						<nav class='pull-left'>
							<a class='pull-left' href='http://aehalo.com'>| A&E Halo |</a>
							<a class='pull-left' href='http://aehalo.com/?page_id=48'>| Contact |</a>
							<a class='pull-left' href='http://www.linkedin.com/company/a&e-halo'>| LinkedIn |</a>
							<a class='pull-left' href='http://twitter.com/aehalo'>| Twitter |</a>
							<a class='pull-left' href='http://angel.co'>| Angel List |</a>
						</nav>
          </footer>
					<script type="text/javascript">

						var _gaq = _gaq || [];
						_gaq.push(['_setAccount', 'UA-37479102-1']);
						_gaq.push(['_trackPageview']);

						(function() {
							var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
							ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
							var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
						})();

					</script>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
