<%= simple_form_for([@group, @member]) do |f| %>


  <div class="form-inputs">
    <%= f.hidden_field :group_id, value: params[:group_id] %>
    <!--<%= f.text_field :user_id, data: {autocomplete_source: User.order(:name).map(&:name)} %>-->
		<%= f.collection_select :user_id, User.order(:name), :id, :name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
